<div id="play_area" class="button_wrap">

  <div class="play_column">
    <h2>Guesses</h2>
    <% for x in 0..11 do %>
    <div class="pin_wrap">
      <% if session[:previous_guess][x]!= nil %>
        <% session[:previous_guess][x].each do |color_ref| %>
          <div style="background-color:<%= color_ref %>"class="play_pin"></div>
        <% end %>
        <% else %>
        <% for y in 0..3 do %>
          <div class="play_pin"></div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>

  <span id="divider"></span>

  <div class="play_column">
    <h2>Feedback</h2>
    <% for x in 0..11 do %>
    <div class="pin_wrap">
      <% if session[:previous_fb][x]!= nil %>
        <% session[:previous_fb][x].each do |fb| %>
          <div style="background-color:<%= fb %>"class="play_pin"></div>
        <% end %>
        <% else %>
        <% for y in 0..3 do %>
          <div class="play_pin"></div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>

  <% if victory || lose || aiwin || ailost %>
    <div class="endgame_div">

      <% if victory || lose %>
        <% if victory %>
          <h2>You won!</h2>
        <% else %>
          <h2>You lost!</h2>
        <% end %>

      <% else %>
        <% if session[:ailost] == true %>
          <h2>The ai lost...</h2>
        <% elsif session[:aiwon] == true %>
          <h2>The ai won!</h2>
        <% end %>

      <% end %>

      <form method="get" action="/">
        <input type="submit" name="return to main menu" value="Return to main menu">
      </form>
    </div>
  <% end %>

</div>

<span id="divider_horizontal"></span>

<div id="next_guess_container">

  <% if params["code_maker_submit"] %>
    <h2>Secret Code:</h2>
    <div class="pin_wrap" id="main_pin">
      <div style="background-color: <%= @color_code1 %>;" id="pin1" class="answer_pin"></div>
      <div style="background-color: <%= @color_code2 %>;" id="pin1" class="answer_pin"></div>
      <div style="background-color: <%= @color_code3 %>;" id="pin1" class="answer_pin"></div>
      <div style="background-color: <%= @color_code4 %>;" id="pin1" class="answer_pin"></div>
    </div>

  <% else %>
  <% unless victory || lose %>

  <h2>Next Guess:</h2>
    <div class="pin_wrap" id="main_pin">
      <div id="pin1" class="pin"></div>
      <div id="pin2" class="pin"></div>
      <div id="pin3" class="pin"></div>
      <div id="pin4" class="pin"></div>
    </div>
    <form id="next_guess" method="post" action="/codebreaker">
      <input type="submit" id="play_next" class="inactive" value="Make Move">
    </form>
    <% end %>
  <% end %>

</div>
